extends layout

block content
    .container-lg.p-responsive.advanced-search-form
        fieldset.pb-3.mb-4.border-bottom.min-width-0
            h3
                font(style="vertical-align:inherit;")
                    font(style="vertical-align:inherit;") Opciones de Investigadores
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con este nombre
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con este instituto
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con tales colaboradores
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con este número de artículos
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con este artículo publicado
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            .d-flex.d-md-block
                button.btn.flex-auto
                    font(style="vertical-align:inherit;")
                        font(style="vertical-align:inherit;") Buscar
        fieldset.pb-3.mb-4.border-bottom.min-width-0
            h3
                font(style="vertical-align:inherit;")
                    font(style="vertical-align:inherit;") Opciones de Institutos
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con esta institución
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con este nombre
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con este estado
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con este municipio/ciudad
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            .d-flex.d-md-block
                button.btn.flex-auto
                    font(style="vertical-align:inherit;")
                        font(style="vertical-align:inherit;") Buscar
        fieldset.pb-3.mb-4.border-bottom.min-width-0
            h3
                font(style="vertical-align:inherit;")
                    font(style="vertical-align:inherit;") Opciones de Estudiantes
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con este nombre
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con este asesor
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con este instituto
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con estos colaboradores
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            .d-flex.d-md-block
                button.btn.flex-auto
                    font(style="vertical-align:inherit;")
                        font(style="vertical-align:inherit;") Buscar
        fieldset.pb-3.mb-4.border-bottom.min-width-0
            h3
                font(style="vertical-align:inherit;")
                    font(style="vertical-align:inherit;") Opciones de Grupos
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con este nombre
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con este número de integrantes
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con estas publicaciones
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            dl.form-group.flattened.d-flex.d-md-block.flex-column
                dt
                    label(for="search_name")
                        font(style="vertical-align:inherit;")
                            font(style="vertical-align:inherit;") Con estos integrantes
                dd
                    input#search_name.form-control.js-advanced-search-prefix(type="text")
            .d-flex.d-md-block
                button.btn.flex-auto
                    font(style="vertical-align:inherit;")
                        font(style="vertical-align:inherit;") Buscar
